# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Go to definition'
      'command': 'ide-flow:goto-def'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      # 'label': 'ascii-art'
      # 'submenu': [
      #   {
      #     'label': 'Toggle'
      #     'command': 'ascii-art:toggle'
      #   }
      #]
    ]
  }
]
